*{
    margin:0;
    font-family: Arial;
    color:black;
    border:border-box;
}


.nav-bar{
    height:58px;
    width: 100%;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    padding: 0 16px;
    margin-top: 15px;
}


.menu{
    height:40px;
    width: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:15px;

}
.menu i{
    color: black;
    font-size: 30px;
    margin-left: 15px;
  
    
}


.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
   }

.logo{
    background-image:url('yt_logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 56px;
    width: 123px;
    margin-left: 15px;
   
    
}

.nav-search{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-left: 50px;
   
}

.srch-ip{
    height: 38px;
    width: 700px;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    font-size: 1rem;
    border:1.5px solid rgb(186, 185, 185) ;
    flex-direction: row;
}

.icon-srch{
    height: 40px;
    width: 64px;
    background-color: #f8f8f8;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.5rem;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
    font-size: 1rem;
    border:1.5px solid rgb(186, 185, 185) ;
    display: flex;
    color:black;

}

.icon-mic{
    height: 40px;
    width: 40px;
    background-color: #f8f8f8;
    border-radius: 50%;
    margin-left: 30px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.icon-mic i{
    font-size: 25px;
}
    
.create{
     height: 42px;
    width: 100px;
    background-color:#ebeaea ;
     border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
   border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
    margin-left: 50px;
    justify-content:space-evenly;
    align-items: center;
    display: inline-flex;
    font-size:1rem ;
    
}

.create i{
    font-size: 1.5rem;
    margin-right: 0.5px;
    margin-left: 0.5px;
}

.create p{
    align-content: center;
    justify-content: center;
    align-items: center;
}

.icon-bell{
     margin-left: 50px;
     font-size: 30px;
}

.acc{
    justify-content: center;
     align-items: center;
    display: inline-flex;
    margin-left: 15px;
    height: 34px;
    width: 60px;
    
}
.acc-img{
    background-image: url('acc2.jpg');
    background-size: cover;
    height: 40px;
    width: 40px;

}

.side-bar{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
    font-size: 1.5rem;
    width: 200px;
    padding: 10px ;
    z-index: 2028;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    
}

.side-bar div {
  display: flex;
  align-items: center;
   flex-direction: column;
  margin: 15px 0;
  width: 100%;
  padding: 10px 0;
  
}

.side-bar div:hover {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.side-bar i {
  font-size: 30px;
  margin-bottom: 6px;
  color: black;
}

.side-bar p {
  font-size: 0.9rem;
  color: black;
  margin: 0;
  text-align: center;
  
}


.panel1 {
    margin-left: 200px;  /* to account for sidebar */
    margin-top: 25px;    /* spacing below navbar */
    padding: 10px 0;
    background-color: #fff;
    overflow-x: auto;    /* horizontal scroll if needed */
    white-space: nowrap;
}

.panel-div {
    display: flex;
    gap: 12px;
    padding: 5px 10px;
    align-items: center;
}

.panel-div div {
    background-color:#ebeaea ;
    padding: 6px 12px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
   border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    font-size: 0.9rem;
    white-space: nowrap;
}

p{
     font-size: 0.85rem;
    font-weight: 700;
    color: black;
}

.panel-div div:hover  {
    background-color: #090909;
 
}

.panel-div div:hover p {
    color: white;
}

.box{
    
    height:auto;
    width: 500px;
    background-color: white;
    margin:15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.video-sec{
     display: flex;
    width: calc(100%-200px);
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 200px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;

}



.box-content{
   
   padding: 10px;
   width: 100%;
   
}


.video-frame {
   
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 12px;
    display: block;
    border: none;
    background-position: contain;
    
}